
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    height: 70px;
}



header{
    background-color: #004325;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-list{
    margin-top: 25px;
    color: white;
    text-decoration: none;
}

.header-menu{
    margin-top: 15px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-menu a{
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

.header-menu button{
    width: 200px;
    height: 40px;
    background-color: white;
    color: black;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 18px;
}

.header-menu button:hover{
    background-color: #004325;
    color: white;
    border: 5px solid white;
    border-radius: 5px;
}

.burger{
    margin-top: 20px;
    font-size: 30px;
    display: none;
}

.burger-del{
    margin-top: 20px;
    font-size: 30px;
    display: none;
}

.burger-menu{
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-top: 1px solid #000;
    padding-top: 20px;
    margin-bottom: 20px;
}

.burger-menu a{
    color: white;
    text-decoration: none;
}

.burger-list {
    width: 100%;
    height: 50px;
    padding-top: 20px;
}

.burger-list:hover{
    background-color: #002e19;
}

.burger-button{
    margin-top: 10px;
    width: 200px;
    height: 40px;
    background-color: white;
    color: black;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 18px;
}

.burger-button:hover{
    background-color: #004325;
    color: white;
    border: 5px solid white;
    border-radius: 5px;
}

/* Content */

.content{
    width: 70%;
	margin:0 auto;
}

/* Search */

.search{
    margin-top: 25px;
}

.search-form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.search-input{
    width: 90%;
    height: 50px;
    background-color: #d9d9d9;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

.search-form button{
    height: 50px;
    width: 50px;
    background-color: white;
    font-size: 20px;
    border: 0;
    border-radius: 100%;
}

.search-form button:hover{
    background-color: #d9d9d9;
}


/* Filter menu */

.filter{
    margin-top: 50px;
}

.filter-form{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
}

.dropdown{
    width: 200px;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    height: 40px;
    background-color: #d9d9d9;
    color: balck;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.caret-rotate{
    transform: rotate(180deg);
}

.menu{
    list-style: none;
    padding: 5px 5px;
    background-color: #d9d9d9;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: black;
    display: none;
    transition: 0.2s;
}

.menu li {
    padding: 5px 5px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}

.menu li:hover{
    background-color: #2a2d35;
    color: white;
}

.active{
    background-color: #23242a;
    color:white;
}

.menu-open{
    position: absolute;
    width: 200px;
    display: block;
    opacity: 1;
}

/* Cars list */
.cars-list{
    display: flex;
    flex-direction: column;
}

.car{
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #d9d9d9;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.car img{
    height: 123px;
}

.inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
}

.car-info{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.car-info h3{
    margin-top: 10px;
}

.car-info p{
    margin-top: 40px;
}

.price{
    margin-right: 10px;
    font-weight: bold;
}

/* Register */
.register-form{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    margin-bottom: 100px;
}

.register-form h1{
    color: #ff914d;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
}

.register-block{
    margin: auto;
    width: 330px;
}

.register-block p{
    margin-bottom: 5px;
}

.register-submit{
    margin: auto;
    width: 330px;
    margin-top: 50px;
}

.register-btn{
    width: 330px;
    height: 50px;
    background-color: #ff914d;
    border: 5px solid #ff914d;
    border-radius: 5px;
    color:white;
    font-size:16px;
    margin: 0 auto;
}

.register-btn:hover{
    background-color: white;
    color: black;


}

.register-input{
    width: 330px;
    height: 40px;
    background-color: #f2f4f5;
    border: 0;
    border-radius: 7px;
    padding-left: 10px;
}

.register-input:focus{
    outline: none;
    border-bottom: 1px solid #000;
}

.dropdown-reg{
    width: 330px;
}

.select-reg{
    background-color: #f2f4f5;
}

.selected-reg{
    margin-left: -60px;
}

.caret-reg{
    margin-right: -60px;
}

.menu-reg{
    width: 330px;
}

/* Footer */

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #d9d9d9;
    margin-top: 50px;
    padding-bottom: 50px;
}

.footer-items{
    display: flex;
    flex-direction: column;
}

.footer-items a{
    color: black;
    text-decoration: none;
}

.footer-social{
    width: 150px;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.footer-social a{
    color: black;
}


@media (max-width: 1200px){
    .filter-form{
        display: grid;
        grid-template-columns: 300px 300px 300px;
    }
}

@media (max-width: 992px){
    .filter-form{
        display: grid;
        grid-template-columns: 300px 300px;
    }

    .car{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        height: auto;
        padding-bottom: 20px;
    }

    .price{
        margin-left: 20px;
    }
}

@media (max-width: 768px){

    .content{
        width: 90%;
    }

    .filter-form{
        display: flex;
        flex-direction: column;
    }

    .header-list{
        display: none;
    }

    .header-menu{
        display: none;
    }

    .burger{
        display: inline;
    }
}

@media (max-width: 576px){
    footer{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }
}